:root {
    --ff: 'Courier New', Courier, monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    padding: 8px;
    

    body {
        background: var(--bg);
        color: var(--c);
        font-family: var(--ff);
    }
}