:root {
    --ff: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;

    * {
        box-sizing: border-box;
        margin: 0;
    }
}


html {
    body {
        background: var(--bg);
        color: var(--c);
        font-family: var(--ff);
    }
}

@font-face {
    font-family: "Tarrget Italic";
    src: url('../fonts/tarrget/tarrgetital.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}