:root {
    --ff: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;

    /* fix for Chrome */
    * {
        box-sizing: border-box;
        margin: 0;
    }
}


html {
    padding: 8px;

    body {
        background: var(--bg);
        color: var(--c);
        font-family: var(--ff);
    }
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

@font-face {
    font-family: "Tarrget Italic";
    src: url('../fonts/tarrget/tarrgetital.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}